# general config defines general parameters that apply to all alerts
general_config:
  default_outputs:
    - severity: WARN
      send_to: [ slack ]
    - severity: CRITICAL
      send_to: [ victorops ]
  # how long to wait before clearing an alert after a clear notification comes in.
  clear_holddown_interval: 1m

# alert_config defines non default config for expected alerts coming in. An alert
# does not need to be defined here for it to be accepted by alert manager. Such an
# alert will get all default values
alert_config:

  - name: BB Input Errors Test
    config:
      # scope can be used to identifthe labels to be attached to the alert
      scope: phy_interface
      # the external source of the alert
      source: grafana
      # descriptive tags used for grouping, searching etc.
      tags: [ neteng, bb, test ]
      # override the severity of the original alert
      severity: INFO
      # auto expire the alert if no new update is received after a period of time
      # default: never expires
      auto_expire: true
      expire_after: 15m
      # auto clear the alert if a "clear" notification is received externally
      # default: true
      auto_clear: false
      # notify on clear (default : False)
      notify_on_clear: true
      # set of per-severity outputs to send the alert notification to
      outputs:
        - severity: WARN
          send_to: [ slack, email ]
        - severity: CRITICAL
          send_to: [ victorops ]
      # esc rules define how long an alert can remain unactioned(or unacknowledged)
      # before the severity gets bumped up. For e.g this can ultimately page the oncall
      escalation_rules:
        - after: 5m
          escalate_to: WARN
        - after: 10m
          escalate_to: CRITICAL
      # aggregation rules to associate with the alert, these are defined below
      aggregation_rules:
        - rule1
        - rule2

# agg rules are written as "alert processors" (see README ). They define grouping
# conditions for a set of alerts and config for the resulting aggregated alert.
aggregation_rules:
  - name: rule1
    # how long to wait and accumulate alerts before grouping can be performed
    window: 5m
    # group by alert labels as opposed to a defined grouper
    group_by: ['label1', 'label2']
    # the config for the aggregated alert
    alert:
      name: Aggregated Test Alert
      config:
        source: fibercut
        severity: WARN
        tags: [ neteng, bb, fibercut ]
        outputs:
          - severity: WARN
            send_to: [ slack ]
          - severity: CRITICAL
            send_to: [ victorops ]
        escalation_rules:
          - after: 15m
            escalate_to: CRITICAL

# supp rules are a set of persistent rules that match specified alert labels and
# suppress the alerts. The labels are all custom defined inside the transforms
# (see README for transforms )
suppression_rules:
    - name: Offline devices
      duration: 5m  # how long to suppress alerts that match this rule
      reason: Suppress alerts to/from an offline device
      type: device
      # label k-v values to match
      matches:
        DeviceStatus: Offline


# inhibit rules let you mute certain alerts when certain other alerts are 
# already present based on matching tags.
inhibit_rules:
    - name: Device down
      # match labels that the source alerts should have. In this case, a
      # Device Down Alert will match on the label "name"
      source-matches:
        - alert: Device Down Alert
          match: [ Name ]
     # labels that target alerts should have that matched the source.
      target-matches:
        - alert: Protocol Down
          match: [ LocalDeviceName, RemoteDeviceName ]
        - alert: Link Down
          match: [ ASideDeviceName, ZSideDeviceName ]
